---
import Layout from '../layouts/layout.astro'
import { Session } from "../components/session"
---

<Layout title="NATS Trivia">
  <div class="absolute inset-0 flex items-center justify-center">
    <div class="tv-bounding-box border border-red-300 overflow-clip relative flex flex-col items-center justify-center gap-9 p-9">
      <Session client:only id="synadia"/>
    </div>
  </div>
</Layout>
