---
import Layout from '../layouts/layout.astro'
---

<Layout title="NATS Trivia">
  <div class="absolute inset-0 flex items-center justify-center">
    <div class="tv-bounding-box relative flex flex-col items-center justify-center gap-9 p-9">
      <div class="flex items-center w-full">
        <span class="flex-grow text-2xl font-medium text-zinc-400">Question 1</span>
        <span class="font-semibold text-4xl bg-zinc-800 border-[6px] border-purple-500 rounded-full p-4">60</span>
      </div>
      <div class="flex flex-grow items-center justify-center w-full">
        <div class="w-full flex gap-12">
          <img src="/people/jeremy.jpeg" class="rounded-full w-36 h-36 border-[2px] border-zinc-800 self-end" alt="TV" />
          <div class="flex flex-col gap-2">
            <span class="flex flex-row gap-2">
              <span class="font-medium text-zinc-50">Jeremy Saenz</span>
              <span class="text-zinc-400">Director of Developer Experience</span>
            </span>
            <span class="chat-bubble self-start">
              <span class="text-4xl font-semibold">What is my favorite food in the world?</span>
            </span>
          </div>
        </div>
      </div>

      <div class="grid grid-cols-2 gap-6 w-full">
        <button class="btn-choice selected">Pizza</button>
        <button class="btn-choice">Bagels</button>
        <button class="btn-choice">Oysters</button>
        <button class="btn-choice">Something Else</button>
      </div>

    </div>
  </div>
</Layout>
